[defaults]
inventory = inventory.yaml
roles_path = roles
local_tmp = ../../.cache/ansible/tmp
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=no -o BatchMode=yes -o ConnectTimeout=10
